// General Styles

.h3, h3 {
    font-size: 22px;
}
.h4, h4 {
    font-size: 18px;
}
.text-black {
    color: $black;
}
.btn {
    &.btn-primary {
        color: $black;
        border-radius: 0;
        border: 1px solid $black;
    }
}
p {
    font-family: $font-family-serif;
}
/* Equal height */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

// General Content

#wrapper #content-wrapper {
    background-color: $white;
    overflow: visible;
}

// Header & Logo

.topbar {
    height: 100px;
}

.header-logo {
    img {
        width: 220px;
    }
}

// Footer

.footer {
    a {
        color: $white;
    }
    .logo-footer {
        width: 155px;
        height: 36px;
        display: block;
    }
    p, .h5, h5, .nav-link {
        font-size: 13px;
    }
    .font-italic {
        font-family: $font-family-sans-serif;
    }
    .nav-link {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
}

// Responsive 

/* móvil */

@media (min-width: 576px) and (max-width: 767.98px) { 
    .header-logo img {
        width: 230px; //150px;
    }
}

@media (max-width: 575.98px) {
    .header-logo img {
        width: 175px; //150px;
    }
}

@media (max-width: 767.98px) { 
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 24px;
    }
    .h3, h3 {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 15px;
    }
    .display-4 {
        font-size: 27px;
    }
    p {
        font-size: 14px;
    }
    .featured-top .font-italic {
        font-size: 18px;
    }
    .featured-top .btn {
        padding: 15px;
    }
    /* header */
    .header-top {
        height: 60px;
        .row {
            height: 60px;
        }
        .col-md-6 {
            height: 60px;
        }
        .btn {
            font-size: 14px;
        }
    }
    .breadcrumb .breadcrumb-item {
        font-size: 11px;
    }
    #carouselSlides {
        margin-bottom: 0;
    }
    .card .card-text {
        font-size: 12px;
        line-height: 150%;
    }
    .call-to-action {
        text-align: center;
    }
    .call-to-action .btn {
        padding: 15px;
    }
    .call-to-action h3 {
        font-size: 30px;
    }
    .call-to-action p {
        font-size: 1rem;
    }
    .footer .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer img.acreditacion {
        width: 100%;
        max-width: 361px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $white;
    }
}