// General Styles

.h3, h3 {
    font-size: 22px;
}
.h4, h4 {
    font-size: 18px;
}
.text-black {
    color: $black;
}
.btn {
    border-radius: 0;
    &.btn-primary {
        color: $black;
        border-radius: 0;
        border: 2px solid $black;
    }
    &.btn-outline-black {
        background-color: transparent;
        border: 2px solid $black;
        //text-transform: uppercase;
        color: $black;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}
p {
    font-family: $font-family-serif;
    font-size: 15px;
    color: $black;
}
/* Equal height */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.form-control {
    &.form-control-mini {
        width: 40px;
    }
}

// General Content

#wrapper #content-wrapper {
    background-color: $white;
    overflow: visible;
}

// Header & Logo

.topbar {
    height: 100px;
}

.header-logo {
    img {
        width: 220px;
    }
}

// Footer

.footer {
    a {
        color: $white;
    }
    .logo-footer {
        width: 155px;
        height: 36px;
        display: block;
    }
    p, .h5, h5, .nav-link {
        font-size: 13px;
    }
    .font-italic {
        font-family: $font-family-sans-serif;
    }
    .nav-link {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
}

// Modales

.modal-content {
    border-radius: 0;
    border: none;
    background-color: #EEEEEE;
    position: relative;
    .btn.btn-outline-black {
        font-weight: bold;
        font-size: 16px;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
        height: 30px;
        width: 30px;
        padding: 0;
        color: $white;
        background-color: $black;
        border-radius: 30px;
        opacity: 1;
        border: 2px solid $white;
        &:hover {
            background-color: $yellow;
            color: $black;
            border-color: $black;
            opacity: 1;
        }
    }
}
.modal-title {
    color: $black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}
.modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}
.modal-body {
    padding-top: 3px;
    a {
        color: $black;
    }
}
.modal-footer {
    border-top: 0;
    padding-top: 0;
}

// Clases especiales

.pinBox.active {
    border-bottom: 2px solid $black;
}

/* Progreso */

.datos-progreso {
    font-size: 13px;
    color: $black;
    line-height: 130%;
    padding: 5px;
    border-left: 4px solid $black;
    //display: inline-table;
    &.aprobado {
        border-left-color: $green;
    }
    &.en-curso {
        border-left-color: $yellow;
    }
    &.disponible {
        border-left-color: #999;
        &.seleccion {
            border-left-color: $purple;
        }
    }
    &.lista-datos {
        border-left-color: transparent;
        span {
            //display: block;
            margin: 5px 0;
            position: relative;
            padding-left: 14px;
            min-width: 75px; //130px;
            .fas {
                position: absolute;
                left: -6px;
            }
        }
    }
    &.temporada-extraordinaria {
        border-left-color: $red;
    }
}
.dato-final {
    border: 1px solid $black;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
}

/* Encabezados Semestres */

.semestre {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin-bottom: .5rem;
    position: relative;
}
.semestre-aprobado {
    background-color: $green;
}
.semestre-en-curso {
    background-color: $yellow;
    &::before {
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $yellow;
        bottom: -3px;
        transform: rotate(45deg);
    }
}
.semestre-disponible-inscripcion {
    background-color: #999;
}
.seleccion-semestre {
    background-color: $purple;
}

/* Asignaturas */

.asignatura {
    padding: 5px 8px;
    font-size: 13px;
    color: $black;
    margin-bottom: .5rem;
    background-color: #eee;
    border-left: 4px solid $black;
    .asignatura-titulo {
        display: block;
        margin-bottom: 20px;
        width: 90%;
        font-weight: 400;
        line-height: 130%;
        &.lista-asignatura {
            margin-bottom: 10px;
        }
    }
    .asignatura-codigo {
        font-size: 11px;
        text-transform: uppercase;
        position: relative;
    }
    .asignatura-creditos {
        font-size: 11px;
        position: relative;
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f005"; //"\f005"
            font-weight: 900;
            font-size: 10px;
            display: inline-block;
            margin-right: 3px;
        }
    }
    &.asignatura-clave {
        .asignatura-codigo {
            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f084"; 
                font-weight: 900;
                font-size: 10px;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}
.asignatura-aprobada {
    border-left: 4px solid $green;
    .asignatura-creditos {
        &::before {
            color: $green;
        }
    }
    .asignatura-codigo {
        &::before {
            color: $green;
        }
    }
}
.asignatura-en-curso {
    border-left: 4px solid $yellow;
    .asignatura-creditos {
        &::before {
            color: $yellow;
        }
    }
    .asignatura-codigo {
        &::before {
            color: $yellow;
        }
    }
}
.asignatura-disponible {
    background-color: #d9d9d9;
    border-left: 4px solid #999;
    position: relative;
    z-index: 0;
    .asignatura-creditos {
        &::before {
            color: #999;
            font-weight: 400;
        }
    }
    .asignatura-codigo {
        &::before {
            color: #999;
        }
    }
    &.seleccionar-asignatura {
        border-left-color: $purple;
        .asignatura-fecha {
            background-color: $purple;
        }
        .asignatura-codigo {
            &::before {
                color: $purple;
            }
        }
        .asignatura-creditos {
            &::before {
                color: $purple;
                font-weight: 900;
            }
        }
    }
    &.temporada-extraordinaria {
        border-left-color: $red;
        .asignatura-fecha {
            background-color: $red;
        }
        .asignatura-codigo {
            &::before {
                color: $red;
            }
        }
        .asignatura-creditos {
            &::before {
                color: $red;
                font-weight: 900;
            }
        }
    }
    &.seleccionada {
        &::before {
            position: absolute;
            right: -5px;
            top: -5px;
            font-family: "Font Awesome 5 Free";
            content: "\f00c"; 
            font-weight: 900;
            color: $yellow;
            width: 22px;
            height: 22px;
            background-color: $white;
            border: 3px solid $yellow;
            border-radius: 20px;
            z-index: 1;
            font-size: 12px;
            text-align: center;
        }
    }
    .asignatura-fecha {
        display: block;
        color: $white;
        font-size: 12px;
        padding: 3px 8px 0 8px;
        margin: 5px -8px -5px -8px;
        background-color: #999;
    }
}

.pasos {
    background-color: #212121;
    color: #fff;
    display: inline-block;
    padding: 6px 16px;
    margin-left: 8px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 22px;
}

.jornada {
    height: 74px;
    text-align: center;
    margin-bottom: .5rem;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 74px;
    cursor: pointer;
}

.diurno-am {
    background-color: #FFB800;
    color: #fff;
}

.diurno-pm{
    background-color: #FF8A00;
    color: #fff;
}

.vespertino {
    background-color: #5843BE;
    color: #fff;
}

.jornada-disponible {
    background-color: #EEEEEE;
    color: #BBBBBB;
    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f058"; //"\f058"
        display: inline-block;
        font-size: 18px;
        height: 100%;
        line-height: 68px;
        vertical-align: middle;
    }
}

.jornada-no-disponible {
    background-color: #fff;
    border: 2px solid #ddd;
    cursor: not-allowed;
}

.seleccion-am {
    background-color: #FFF1CC;
    border: 2px solid #FFB800;
    color: #FFB800;
    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f058"; //"\f058"
        display: inline-block;
        font-size: 22px;
        height: 100%;
        line-height: 68px;
        vertical-align: middle;
    }
}

.seleccion-pm {
    background-color: #FFE8CC;
    border: 2px solid #FF8A00;
    color: #FF8A00;
    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f058"; //"\f058"
        display: inline-block;
        font-size: 22px;
        height: 100%;
        line-height: 68px;
        vertical-align: middle;
    }
}

.seleccion-ve {
    background-color: #DED9F2;
    border: 2px solid #5843BE;
    color: #5843BE;
    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f058"; //"\f058"
        display: inline-block;
        font-size: 22px;
        height: 100%;
        line-height: 68px;
        vertical-align: middle;
    }
}

/* Guía estilo directores */
.descripcion{
    font-family: $font-family-serif;
    text-decoration: underline;
    font-size: 15px;
    color: #212121;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.titulo-principal {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121;

}

.titulo-secundario {
    font-size: 24px;
    color: #212121;
    padding-left: 10px;
    border-left: 5px solid #FFB800;  
}

.item {
    background-color: #EEEEEE;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 10px;
    color: #212121;
    width: 100%;
    cursor: pointer;
}
.item:hover, .item-seleccionado {
    background-color: #FFB800;
}
/*
.btn.btn-primary {
    border:none;
}
*/

.btn-principal {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 0;
}

.btn-principal:hover, .btn-activo {
    border: 2px solid #FFB800;
    background-color: #FFB800;
    color: #000!important;
    border-radius: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000;
    background-color: #fff;
    border: none;
}

.page-item.active .page-link {
    color: #000;
}
.pagination li.active a,
.pagination li a:hover {
  background-color: #FFB800 !important;
  color: #000;
}

.sidebar-dark .nav-item .nav-link:hover, .nav-item .active {
    color: #FFB800;
}
.horario-total {
    position: relative;
    &::before {
        position: absolute;
        content: '';
        top: 122px;
        width: 100%;
        height: 1px;
        background-color: $red;
        left: 0;
        right: 0;
    }
}
.horario-columna {
    position: relative;
    &::after {
        position: absolute;
        content: '14:00';
        top: 116px;
        width: auto;
        height: 14px;
        background-color: $red;
        left: -8px;
        color: $white;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 3px;
    }
}
.listado-inscripcion span {
    color: $black;
    font-family: $font-family-serif;
    font-size: 14px;
}

// Responsive 

/* móvil */

@media (min-width: 576px) and (max-width: 767.98px) { 
    .header-logo img {
        width: 230px; //150px;
    }
}

@media (max-width: 575.98px) {
    .header-logo img {
        width: 175px; //150px;
    }
    .form-control {
        &.form-control-mini {
            width: auto; //40px;
        }
    }
    .asignatura .asignatura-creditos, .asignatura .asignatura-codigo {
        //font-size: 10px;
    }
    .asignatura.lista-asignatura {
        font-size: 12px;
    }
    .datos-progreso.d-md-block, .data-finalizar.d-inline {
        width: 45%;
        display: inline-block;
    }
    .data-finalizar.d-inline {
        width: 40%;
        display: inline-block !important;
        margin: 5px 0;
    }
    .horario-total {
        &::after {
            position: absolute;
            content: '14:00';
            top: 116px;
            width: auto;
            height: 14px;
            background-color: $red;
            left: -8px;
            color: $white;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 3px;
        }
    }
    .horario-columna {
        &::after {
            display: none;
        }
    }
}

@media (max-width: 767.98px) { 
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 24px;
    }
    .h3, h3 {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 15px;
    }
    .display-4 {
        font-size: 27px;
    }
    p {
        font-size: 14px;
    }
    .featured-top .font-italic {
        font-size: 18px;
    }
    .featured-top .btn {
        padding: 15px;
    }
    /* header */
    .header-top {
        height: 60px;
        .row {
            height: 60px;
        }
        .col-md-6 {
            height: 60px;
        }
        .btn {
            font-size: 14px;
        }
    }
    .breadcrumb .breadcrumb-item {
        font-size: 11px;
    }
    #carouselSlides {
        margin-bottom: 0;
    }
    .card .card-text {
        font-size: 12px;
        line-height: 150%;
    }
    .call-to-action {
        text-align: center;
    }
    .call-to-action .btn {
        padding: 15px;
    }
    .call-to-action h3 {
        font-size: 30px;
    }
    .call-to-action p {
        font-size: 1rem;
    }
    .footer .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer img.acreditacion {
        width: 100%;
        max-width: 361px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $white;
    }
    .datos-progreso.lista-datos span {
        min-width: auto;
    }
    .pasos {
        font-size: 18px;
    }
}


