// General Styles

.h3, h3 {
    font-size: 22px;
}
.h4, h4 {
    font-size: 18px;
}
.text-black {
    color: $black;
}
.btn {
    &.btn-primary {
        color: $black;
        border-radius: 0;
        border: 1px solid $black;
    }
}
p {
    font-family: $font-family-serif;
    font-size: 15px;
    color: $black;
}
/* Equal height */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

// General Content

#wrapper #content-wrapper {
    background-color: $white;
    overflow: visible;
}

// Header & Logo

.topbar {
    height: 100px;
}

.header-logo {
    img {
        width: 220px;
    }
}

// Footer

.footer {
    a {
        color: $white;
    }
    .logo-footer {
        width: 155px;
        height: 36px;
        display: block;
    }
    p, .h5, h5, .nav-link {
        font-size: 13px;
    }
    .font-italic {
        font-family: $font-family-sans-serif;
    }
    .nav-link {
        color: $white;
        &:hover {
            color: $primary;
        }
    }
}

// Clases especiales

/* Encabezados Semestres */

.semestre {
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin-bottom: .5rem;
}
.semestre-aprobado {
    background-color: $green;
}
.semestre-en-curso {
    background-color: $yellow;
}
.semestre-disponible-inscripcion {
    background-color: #999;
}

/* Asignaturas */

.asignatura {
    padding: 5px 8px;
    font-size: 13px;
    color: $black;
    margin-bottom: .5rem;
    .asignatura-titulo {
        display: block;
        margin-bottom: 20px;
        width: 90%;
        font-weight: 400;
        line-height: 130%;
    }
    .asignatura-codigo {
        font-size: 11px;
        text-transform: uppercase;
        position: relative;
    }
    .asignatura-creditos {
        font-size: 11px;
        position: relative;
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f005"; //"\f005"
            font-weight: 900;
            font-size: 10px;
            display: inline-block;
            margin-right: 3px;
        }
    }
    &.asignatura-clave {
        .asignatura-codigo {
            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f084"; 
                font-weight: 900;
                font-size: 10px;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}
.asignatura-aprobada {
    border-left: 4px solid $green;
    .asignatura-creditos {
        &::before {
            color: $green;
        }
    }
    .asignatura-codigo {
        &::before {
            color: $green;
        }
    }
}
.asignatura-en-curso {
    border-left: 4px solid $yellow;
    .asignatura-creditos {
        &::before {
            color: $yellow;
        }
    }
    .asignatura-codigo {
        &::before {
            color: $yellow;
        }
    }
}
.asignatura-disponible {
    background-color: #d9d9d9;
    border-left: 4px solid #999;
    .asignatura-creditos {
        &::before {
            color: #999;
            font-weight: 400;
        }
    }
    .asignatura-codigo {
        &::before {
            color: #999;
        }
    }
}
.asignatura-aprobada, .asignatura-en-curso {
    background-color: #eee;
}
.asignatura-disponible, .asignatura-en-curso, .asignatura-aprobada {

}

// Responsive 

/* móvil */

@media (min-width: 576px) and (max-width: 767.98px) { 
    .header-logo img {
        width: 230px; //150px;
    }
}

@media (max-width: 575.98px) {
    .header-logo img {
        width: 175px; //150px;
    }
}

@media (max-width: 767.98px) { 
    h1, .h1 {
        font-size: 2rem;
    }
    h2, .h2 {
        font-size: 24px;
    }
    .h3, h3 {
        font-size: 18px;
    }
    .h4, h4 {
        font-size: 15px;
    }
    .display-4 {
        font-size: 27px;
    }
    p {
        font-size: 14px;
    }
    .featured-top .font-italic {
        font-size: 18px;
    }
    .featured-top .btn {
        padding: 15px;
    }
    /* header */
    .header-top {
        height: 60px;
        .row {
            height: 60px;
        }
        .col-md-6 {
            height: 60px;
        }
        .btn {
            font-size: 14px;
        }
    }
    .breadcrumb .breadcrumb-item {
        font-size: 11px;
    }
    #carouselSlides {
        margin-bottom: 0;
    }
    .card .card-text {
        font-size: 12px;
        line-height: 150%;
    }
    .call-to-action {
        text-align: center;
    }
    .call-to-action .btn {
        padding: 15px;
    }
    .call-to-action h3 {
        font-size: 30px;
    }
    .call-to-action p {
        font-size: 1rem;
    }
    .footer .logo-footer {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer img.acreditacion {
        width: 100%;
        max-width: 361px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $white;
    }
}